html {
  font-size: 10px;
  background: url(images/trump_bg_dark.jpg);
  background-repeat: repeat;
}
body {
  margin: 0px;
  padding: 0;
  max-width:100%;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.keys {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-family: Quicksand; /* similar to Apple keyboard font Vag Rounded */
}

.key {
  border: .3rem solid black;
  border-radius: 1.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0rem;
  transition: all .12s ease; /* scale and border color transform on keydown */
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.3);
  text-shadow: 0 0 1.5rem black;
}

.playing {
  transform: scale(0.91);
  border-color: #000000;
  box-shadow: 0 0 1rem #000000;
  background: rgba(0,0,0,0.5);
  margin-bottom: -8px;
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: Quicksand; /* similar to Apple keyboard font Vag Rounded */
}

.sound {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: .2rem;
  color: lightblue;
}

.cyrillic {
  font-size:1.3rem;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: .2rem;
  color: lightblue;
}

.signature {
  float:inherit;
  display:flex;
  align-items: center;
  flex:1;
  max-width: 20%;
  height: auto;
  margin: auto;
  padding: 0;
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}